In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv('./young-people-survey-responses.csv')
df.drop(columns='Unnamed: 0', inplace=True)
df

,Music,Techno,Movies,History,Mathematics,Pets,Spiders,Loneliness,Parents' advice,Internet usage,Finances,Age,Siblings,Gender,Village - town
0,5.0,1.0,5.0,1.0,3.0,4.0,1.0,3.0,4.0,few hours a day,3.0,20.0,1.0,female,village
1,4.0,1.0,5.0,1.0,5.0,5.0,1.0,2.0,2.0,few hours a day,3.0,19.0,2.0,female,city
2,5.0,1.0,5.0,1.0,5.0,5.0,1.0,5.0,3.0,few hours a day,2.0,20.0,2.0,female,city
3,5.0,2.0,5.0,4.0,4.0,1.0,5.0,5.0,2.0,most of the day,2.0,22.0,1.0,female,city
4,5.0,2.0,5.0,3.0,2.0,1.0,1.0,3.0,3.0,few hours a day,4.0,20.0,1.0,female,village
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,5.0,3.0,5.0,4.0,1.0,4.0,2.0,4.0,4.0,few hours a day,3.0,20.0,1.0,female,city
1006,4.0,4.0,5.0,4.0,5.0,5.0,1.0,1.0,4.0,less than an hour a day,3.0,27.0,5.0,male,village
1007,4.0,1.0,4.0,2.0,3.0,5.0,2.0,4.0,4.0,most of the day,1.0,18.0,0.0,female,city
1008,5.0,2.0,5.0,3.0,1.0,4.0,3.0,3.0,3.0,most of the day,3.0,25.0,1.0,female,city
1009,5.0,3.0,5.0,2.0,2.0,5.0,1.0,3.0,3.0,few hours a day,5.0,21.0,1.0,male,village

In [35]:
df['Internet usage'].value_counts()

Internet usage
few hours a day            744
less than an hour a day    139
most of the day            124
no time at all               3
Name: count, dtype: int64

In [36]:
df['Village - town'].value_counts()

Village - town
city       707
village    299
Name: count, dtype: int64

In [38]:
df.isna().sum()

Music              3
Techno             7
Movies             6
History            2
Mathematics        3
Pets               4
Spiders            5
Loneliness         1
Parents' advice    2
Internet usage     0
Finances           3
Age                7
Siblings           6
Gender             6
Village - town     4
dtype: int64

In [46]:
nona = df.dropna()
nona.shape

(961, 15)

In [49]:
print(961/1010)
print(1010-961)
print(df.isna().sum().sum())

0.9514851485148514
49
59

In [51]:
df['Loneliness'].describe()

count    1009.000000
mean        2.887017
std         1.131757
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Loneliness, dtype: float64